@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* letters */
[epub|type~="z3998:letter"] header{
	text-align: right;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:salutation"] + p,
[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:recipient"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: initial;
	text-indent: 0;
}

.telegram{
	font-variant: all-small-caps;
}
/* end of letters */

/* poem/verse/song */
[epub|type~="z3998:song"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:song"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:song"] p > span + br{
	display: none;
}
/* end of poem/verse/song */

/* custom */
#crooked-souls blockquote:nth-of-type(-n+2),
#the-girl-with-the-silver-eyes-5 blockquote{
	font-variant: small-caps;
}

#slippery-fingers ul{
	list-style-type: none;
}

#the-scorched-face-3 blockquote header{
	font-variant: small-caps;
	font-weight: bold;
	margin-bottom: 1em;
}

#the-girl-with-the-silver-eyes-5 blockquote p{
	text-align: center;
	text-indent: 0;
}
/* end of custom */